# Project exclude paths
/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/neoforge/.gradle/
/neoforge/build/
/fabric/run
/neoforge/run
/.idea/modules/common
/.idea/modules/fabric
/.idea/modules/neoforge
/.idea/runConfigurations
/fabric/.settings
/common/.settings