# Default ignored files
/shelf/
/modules/
/runConfigurations/
/.name/
/compiler.xml/
/discord.xml/
/elitraswaperplus-1.21.1-fabric-neoforge-template.iml/
/gradle.xml/
/misc.xml/
/modules.xml/
/vcs.xml/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
